[submodule "ddio_tool/deps/gflags"]
	path = ddio_tool/deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
